<!-- Sidenav -->
<div id="sidenav" class="flex-shrink-0 p-3 text-white bg-dark col-md-2 d-lg-block d-dm-none d-sm-none d-none">
  <hr class="mt-5 pt-2 bg-white">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="{% url 'dashboard' %}" class="nav-link text-white fs-5 
      {% if title == 'Dashboard' %}
        {{ nav_active }}
      {% endif %}" aria-current="page">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a>
    </li>
    <li>
      <a href="{% url 'appointments' %}" class="nav-link text-white fs-5
          {% if title == 'Appointments' %}
            {{ nav_active }}
          {% endif %}">
        <i class="fas fa-calendar"></i> Appointments
      </a>
    </li>
    {% if is_admin %}
    <li>
      <a href="{% url 'patients'%}" class="nav-link text-white fs-5
      {% if title == 'Patients' %}
        {{ nav_active }}
      {% endif %}">
        <i class="fas fa-user-injured"></i> Patients
      </a>
    </li>
    <li>
      <a href="{% url 'specializations' %}" class="nav-link text-white fs-5
      {% if title == 'Specializations' %}
        {{ nav_active }}
      {% endif %}">
        <i class="fas fa-stethoscope"></i> Specialiazations
      </a>
    </li>
    <li>
      <a href="{% url 'doctors' %}" class="nav-link text-white fs-5
      {% if title == 'Doctors' %}
        {{ nav_active }}
      {% endif %}">
        <i class="fas fa-user-md"></i> Doctors
      </a>
    </li>
    {% endif %}
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white fs-5" href="#" id="user" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-building"></i> Deparments
      </a>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="user">
        <li><a class="dropdown-item" href="#">Family Medicine</a></li>
        <li><a class="dropdown-item" href="#">Internal Medicine</a></li>
        <li><a class="dropdown-item" href="#">Physical Rehabilitation</a></li>
      </ul>
    </li> -->
  </ul>
  <!-- <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>mdo</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div> -->
</div>