{% load static %}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'img/nav_logo.png' %}" alt="Rapha" width="76" height="44">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        {% if not is_download %}
        <li class="nav-item">
          <a href="#main" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link active" aria-current="page">About</a>
        </li>
        <li class="nav-item">
          <a href="#proponents" class="nav-link active" aria-current="page">Proponents</a>
        </li>
        <li class="nav-item">
          <a href="#features" class="nav-link active" aria-current="page">Features</a>
        </li>
        <li class="nav-item">
          <a href="#faqs" class="nav-link active" aria-current="page">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link active" aria-current="page">Contact</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a href="{% url 'download' %}" class="btn btn-danger nav-btn-width" aria-current="page">Download</a>
        </li>
      </ul>
      <br>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="{% url 'login' %}" class="btn btn-primary nav-btn-width" aria-current="page">Login</a>
        </li>
        <br>
        <li class="nav-item">
          <a href="{% url 'register' %}" class="btn btn-light nav-btn-width" aria-current="page">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>