/* #07AED9 */
/* #F7319B */
#main {
  background: url("../img/main-bg.jpg") no-repeat center center/cover;
}

.bg-rapha-primary {
  background: #07aed9;
}

.bg-rapha-secondary {
  background: #f7319b;
}

.clip-image-bottom {
  position: absolute;
  top: 30%;
  left: 30%;
}

.clip-image-top,
.clip-image-bottom {
  border: 10px solid white;
  border-radius: 20px;
}

.m-width-200 {
  max-width: 200px;
}

.nav-btn-width {
  width: 100px;
  margin-left: 5px;
}

@media only screen and (max-width: 800px) {
  .clip-image-bottom {
    display: none;
  }
}

.text-justify {
  text-align: justify;
}

#proponents {
  background: #07aed9;
}

#features .multi-platform {
  height: 350px;
  background: linear-gradient(rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)),
    url("../img/multi-platform.jpg") no-repeat center center/cover;
}

#features .ai-powered {
  height: 350px;
  background: linear-gradient(rgba(247, 49, 155, 0.8), rgba(247, 49, 155, 0.8)),
    url("../img/ai.jpg") no-repeat center center/cover;
}

#features .analytics-ready {
  height: 350px;
  background: linear-gradient(rgba(29, 246, 235, 0.8),
      rgba(29, 246, 235, 0.8)),
    url("../img/stats.jpg") no-repeat center center/cover;
}

#features .text-messaging {
  height: 350px;
  background: linear-gradient(rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)),
    url("../img/encrypted.jpg") no-repeat center center/cover;
}

#contact {
  background: #07aed9;
}

#download {
  background: rgba(7, 174, 217, 0.5);
}

#login-register {
  height: 350px;
  background: linear-gradient(rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)),
    url("../img/login.jpg") no-repeat center center/cover;
}

.carousel {
  width: 80%;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}

.carousel-cell {
  width: 66%;
  height: 400px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

.my-bg-color {
  /* rgba(255, 255, 255, 0.7); */
  /* background: rgba(7, 174, 217, 0.8); */
  background: rgba(51, 51, 51, 0.8);
}

#sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48 px 0 0;
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.nav-active {
  background: #07aed9 !important;
}

.chart-container {
  width: 350px;
}

.circled-profile {
  border-radius: 50%;
  border: 2px solid #000;
}

@media screen and (max-width: 992px) {
  #appointment-body {
    overflow: auto !important;
  }
}