{% extends 'base/out_main.html' %}
{% load static %}

{% block content %}
<main id="download" class="d-flex flex-column vh-100 justify-content-center align-items-center">
  {% include 'base/out_nav.html' %}

  <!-- Landing Page -->
  <div class="w-100">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <img src="{% static 'img/rapha_logo.png' %}" alt="" class="img img-fluid">
          <h1 class="display-5"><strong>Your Medical Friend</strong></h1>
        </div>
        <div class="col-md-6">
          <p class="fs-3">As of the moment, web and mobile are the only supported platforms.</p>
          <p class="fs-3">For Android mobile phones, you may get the app by pressing the download button below.</p>
          <a href="{% static 'app/rapha.apk' %}" class="btn btn-primary btn-block btn-lg p-2 w-75">Download</a>
        </div>
      </div>
    </div>
  </div>

  <h1 class="fs-2 text-center mt-5 d-sm-none d-lg-block"><strong>Screenshots</strong></h1>
  <div class="carousel d-sm-none d-lg-block"
    data-flickity='{"fullscreen": true, "lazyLoad": 1, "wrapAround": true, "pageDots": false, "autoPlay": 3000}'>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/1.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/2.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/3.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/4.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/5.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/6.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/7.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/8.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/9.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/10.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/11.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/12.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/13.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/14.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/15.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/16.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/17.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/18.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/19.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/20.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/21.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/22.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/23.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/24.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/25.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/26.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/27.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/28.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/29.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/30.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/31.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/32.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/33.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/34.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/35.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/36.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/37.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/38.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/39.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/40.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/41.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/42.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/43.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/44.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/45.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/46.jpg'%}" alt="mockup" />
    </div>
    <div class="carousel-cell">
      <img class="carousel-cell-image" data-flickity-lazyload="{% static 'img/app_screenshots/47.jpg'%}" alt="mockup" />
    </div>
  </div>
</main>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!-- Flickity JS -->
<script src="https://unpkg.com/flickity@2.2.2/dist/flickity.pkgd.min.js"></script>
<!-- Flickity JS -->
<!-- <script src="https://unpkg.com/flickity-fullscreen@1/fullscreen.js"></script> -->
<script src="{% static 'js/flickity.js' %}"></script>
<!-- <script src="https://unpkg.com/flickity-fullscreen@2/fullscreen.js"></script> -->

{% endblock content %}