{% extends 'base/in_main.html' %}
{% load static %}


{% block content %}
<main class="col-md-10 ms-auto m-md-0 ms-lg-auto mt-3 pl-5">
  <div class="mt-3">
    <h2>{{ title }}</h2>
  </div>
  <hr>
  <!-- Dashboard Cards -->
  <div class="row">
    <div class="col-md-4">
      <div class="card text-dark bg-warning mb-3">
        <div class="card-body d-flex justify-content-center align-items-center gap-3">
          <div>
            <i class="fas fa-user-injured fa-3x"></i>
          </div>
          <div>
            <h3>{{ stats_count }}</h3>
            <h5>APPOINTMENTS COUNT</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-success mb-3">
        <div class="card-body d-flex justify-content-center align-items-center gap-3">
          <div>
            <i class="fas fa-heartbeat fa-3x"></i>
          </div>
          <div>
            <h3>{{ registered_users }}</h3>
            <h5>REGISTERED USERS</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body d-flex justify-content-center align-items-center gap-3">
          <div>
            <i class="fas fa-medkit fa-3x"></i>
          </div>
          <div>
            <h3>{{ registered_doctors }}</h3>
            <h5>REGISTERED DOCTORS</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row content mt-3">
      <div class="col-md-3">
        <h2 class="fs-4 text-center">Departments List</h2>
        <ul class="list-group mt-2">
          {% for field in doctor_fields %}
          <li class="list-group-item d-flex justify-content-between p-3">
            <span class="text-wrap">{{field.specialization__field}}</span>
            <span class="badge bg-rapha-secondary">{{field.total}}</span>
          </li>
          {% endfor %}
          <li class="list-group-item d-flex justify-content-between p-3">
            <span class="text-wrap">TOTAL</span>
            <span class="badge bg-rapha-secondary">{{field_total}}</span>
          </li>
        </ul>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-md-7">
            <canvas id="appointmentChart"></canvas>
          </div>
          <div class="col-md-5">
            <h2 class="fs-4 text-center">Common Symptoms</h2>
            <div class="chart-container container-fluid m-auto d-flex justify-content-center align-items-center">
              <canvas id="patientStatus"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>

<!-- Charts JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"
  integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/appointments.js' %}"></script>
<script>
  const data = {
    labels: ['Cough', 'Pain', 'Weakness', 'Trouble Breathing', 'Vomitting', 'Voweling', 'Others'],
    datasets: [{
      label: '# of Votes',
      data: {{ symptoms| safe }},
  borderWidth: 1,
    backgroundColor: ['#F1C40F', '#1C89D3', '#CB4335', '#0BA54B', '#884EA0', '#28BBF1', '#E7E7E7'],
    }],
  };
  // Append '4d' to the colors (alpha channel), except for the hovered index
  function handleHover(evt, item, legend) {
    legend.chart.data.datasets[0].backgroundColor.forEach((color, index, colors) => {
      colors[index] = index === item.index || color.length === 9 ? color : color + '4D';
    });
    legend.chart.update();
  }
  // Removes the alpha channel from background colors
  function handleLeave(evt, item, legend) {
    legend.chart.data.datasets[0].backgroundColor.forEach((color, index, colors) => {
      colors[index] = color.length === 9 ? color.slice(0, -2) : color;
    });
    legend.chart.update();
  }
  const config = {
    type: 'pie',
    data: data,
    options: {
      maintainAspectRatio: true,
      responsive: true,
      plugins: {
        legend: {
          onHover: handleHover,
          onLeave: handleLeave
        }
      }
    }
  };
  const patientStatus = new Chart(
    document.getElementById('patientStatus'),
    config,
  );

  const appointmentLabels = [
    "Monday",
    'Tuesday',
    'Wednesday',
    'Thursday',
    'Friday',
    'Saturday',
    'Sunday'
  ];
  const apointmentData = {
    labels: {{ checkup_dates| safe }},
  datasets: [{
    label: 'Weekly Appointments',
    backgroundColor: 'rgb(7, 174, 217)',
    borderColor: 'rgb(7, 174, 217)',
    data: {{ counts| safe }}
    }]
  };
  const appoinmentConfigs = {
    type: 'bar',
    data: apointmentData,
    options: {}
  };

  const appointmentChart = new Chart(
    document.getElementById('appointmentChart'),
    appoinmentConfigs
  );
</script>
{% endblock content%}