{% extends 'base/out_main.html' %}
{% load static %}

{% block content %}
<main id="login-register" class="d-flex flex-column vh-100 justify-content-center align-items-center">
  {% include 'base/out_nav.html' %}
   <!-- Landing Page -->
   <div class="w-100 h-75 overflow-auto">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 text-center">
          <img src="{% static 'img/rapha_logo.png' %}" alt="" class="img img-fluid pt-5">
          <h1 class="display-5"><strong>Your Medical Friend</strong></h1>
        </div>
        <div class="col-md-6 col-sm-12 my-bg-color text-white px-5 py-4">
          <h3 class="fs-3 text-center">Password Reset Sent</h3>
          <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
          <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
          <a href="{% url 'login' %}" class="btn btn-block w-100 btn-lg btn-primary mb-3">Back to Login</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}